@import 'bootstrap/variables';
@import 'bootstrap/bootstrap';
@import 'variables';
@import 'forms';
@import 'base/*';

body {
    font-family: 'Roboto', $font-family-base;
    margin-bottom: 60px;

    &.wf-active {
        font-family: $font-family-base;
    }
}

@import 'components/*';
